.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
}

.auth-box {
  background: var(--card-bg);
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: var(--card-shadow);
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.auth-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #6366f1;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-text {
  margin-top: 15px;
}

.toggle-text span {
  color: #6366f1;
  cursor: pointer;
  font-weight: bold;
}
